body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* La parte de arriba, logo, header y la ley */

.header-logo {
  padding: 0;
  height: 16em;
  background: white;
  background-image: url(../assets/confeti.jpg);
  margin: auto;
}

.header-logo img {
  width: 25em;
  padding-top: 2.5em;
}

.ley {
  height: auto;
  background: #2a90a9;
  text-align: center;
  color: white;
}

.ley h1{
  font-style: italic;
  font-size: 1.5em;
  margin: auto;
  padding-top: 0.4em;
}

.ley p{
  width: 65%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
  font-style: italic;
}
/*
#second-line {
  margin-top: -35px;
} */

/* ====== La parte de css grids ====== */

.wrapper {
  display: grid;
  grid-gap: 1em;
  /* dividio en 5 fracciones */
  grid-template-columns: 1fr 2fr 3fr 3fr 1fr;
  grid-template-rows: 270px 480px;
  grid-template-areas:
  " . fixture hospitales twitter . "
  " . requisitos hospitales twitter . "
  ;
}
/*
.col0 .col5 {
  grid-area: .;
}
*/
#fixture-col {
  grid-area: fixture;
}
.col1 {
  /* -ms-grid: auto; */

  /* width: 30em; */
  height: 5em;
  margin-top: 1em;
  text-align: left;
}

.fixture-arg {
  background: none;
  margin-top: -0.7em;
}

#img-partidos {
  width: 100%;
}

.col1 h4 {
  color: #2a90a9;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#requisitos-col {
    grid-area: requisitos;
}

.requisitos h4 {
  margin-top: 0;
}

.requisitos ul {
  margin-top: 0;
  margin-left: -30px;
}

.certificado {
  width: 12em;
}

#hospitales-col{
  grid-area: hospitales;
}
.col2 {
  height: 5em;
  background: #fff;
  margin-top: 1em;
}

.col2 h2 {
  color: #2a90a9;
  text-align: left;
}

/* Cajas de los hospitales  */

.hospital-box {
  background: #ddd;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 0.8em;
}

.hospital-box p {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.title-hospital {
  font-weight: bold;
}

.hospital-box img {
  float: left;
  margin-right: 1em;
  margin-left: 2em;
  margin-top: 0.9em;
}

#div-btn {
  margin-top: 2em;
}

.boton-mapa {
  background: #2a90a9;
  background-image: -webkit-linear-gradient(top, #2a90a9, #2980b9);
  background-image: -moz-linear-gradient(top, #2a90a9, #2980b9);
  background-image: -ms-linear-gradient(top, #2a90a9, #2980b9);
  background-image: -o-linear-gradient(top, #2a90a9, #2980b9);
  background-image: linear-gradient(to bottom, #2a90a9, #2980b9);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.boton-mapa:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#twitter-col{
    grid-area: twitter;
}

.col3 {
  height: 300px;
  background: none;
  margin-top: 1em;
}

/* #footer {
  width: 100%;
  height: 200px;
  background: #ddd;
  position: absolute;
  bottom: 0;
} */

/* Tablet */



@media screen and (max-width:768px) {
 .wrapper {
   grid-template-columns: 1fr;
   grid-template-rows: 380px 300px 810px 360px;
  grid-template-areas: "fixture" "requisitos" "hospitales" "twitter";
   grid-gap: 2em;
 }

 .header-logo img {
   width: 60%;
   padding-top: 2.5em;
 }

 .fixture-arg {
   text-align: center;
 }

 #img-partidos {
   width: 65%;
   margin: 0;
 }

.requisitos {
  text-align: center;
}

.requisitos h2 {
  margin: 0;
}

 .requisitos ul {
   text-align: left;
   margin-left: 3em;
   font-size: 1.5em;
 }

 .certificado {
   margin-left: 2em;
   width: 300px;
 }

 #hospitales-col h2 {
   margin-left: 1em;
   margin-top: 2em;
 }

}

/*Mobile XL*/
@media screen and (max-width:425px){

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 750px 360px;
   grid-template-areas: "fixture" "requisitos" "hospitales" "twitter";
    grid-gap: 1em;
  }

  .header-logo img {
    width: 70%;
    padding-top: 2.5em;
  }

  .requisitos ul {
    font-size: 1em;
  }

  .certificado {
    width: 200px;
  }

  #hospitales-col h2 {
    margin-left: 1em;
    margin-top: 0;
  }

}
/*mOBILE MEDIUM*/
@media screen and (max-width:375px){

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 290px 250px 790px 360px;
   grid-template-areas: "fixture" "requisitos" "hospitales" "twitter";
    grid-gap: 1em;
  }

  .header-logo img {
    width: 95%;
    padding-top: 2.5em;
  }

  #img-partidos {
    width: 100%;
    margin: 0;

  }

}

/* MOBILE*/
@media screen and (max-width:320px){

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 850px 380px;
   grid-template-areas: "fixture" "requisitos" "hospitales" "twitter";
    grid-gap: 1em;
  }

  .header-logo img {
    width: 95%;
    padding-top: 2.5em;
  }

  #img-partidos {
    width: 100%;
    margin: 0;

  }

}
